.wrapper {
  position: absolute;
  top: calc(4px * var(--ui-scale));
  right: calc(4px * var(--ui-scale));
  opacity: 0.9;
}

.content {
  display: flex;
  align-items: center;
  gap: calc(2px * var(--ui-scale));
  padding: calc(2px * var(--ui-scale));
  white-space: nowrap;
}

.icon {
  flex-shrink: 0;
}

.amount {
  font-size: calc(5px * var(--ui-scale));
  line-height: 1;
  color: #daa520;
  font-family: var(--font-pixel);
}
